<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="row">
        <%= render "users/info", user: @user %>
      </div>
      <div class="row">
        <%= render "books/new", book: @book %>
      </div>
    </div>
    <div class="col-6">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @books.user.get_profile_image(100 , 100) %>
              <p><%= link_to @books.user.name, user_path(@books.user.id) %></p>
            </td>
            <td><%= link_to @books.title %></td>
            <td><%= @books.body %></td>
            <td id="favorite_buttons_<%= @books.id %>">
                <%= render "favorites/favorite", book: @books %>
            </td>
            <td>コメント数:<%= @books.book_comments.count %></td>
            <% if @books.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@books.id), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger " %></td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <!--投稿コメント表示-->
      <div id="comments_index">
        <%= render "book_comments/comment", book: @books, book_comment: @book_comment %>
      </div>

      <!--コメント投稿フォーム-->
      <div id="new_comment">
        <%= render "book_comments/form", book: @books, book_comment: @book_comment %>
      </div>
    </div>
  </div>
</div>
